---
const { title, subtitle, description } = Astro.props;
---

<div class="max-w-sm rounded-2xl overflow-hidden border border-gray-200 bg-white shadow hover:shadow-lg transition-shadow duration-300 flex flex-col h-full"> {/* AGREGADO: flex flex-col h-full */}
  {/* Imagen - Asegúrate de que las imágenes también tengan una altura consistente o 'object-cover' */}
  <div class="w-full h-60 overflow-hidden"> {/* AGREGADO: un contenedor con altura fija para la imagen */}
    <slot name="Imagen"></slot>
  </div>

  {/* Contenido - Hará que el contenido se estire para llenar el espacio */}
  <div class="p-6 flex flex-col flex-grow"> {/* AGREGADO: flex flex-col flex-grow */}
    <p class="text-sm text-blue-600 font-medium mb-1">{subtitle}</p>
    <h3 class="text-lg font-semibold text-gray-900">{title}</h3>
    <p class="mt-2 text-sm text-gray-600 flex-grow">{description}</p> {/* AGREGADO: flex-grow */}
    <div class="flex items-center mt-4 "> {/* AGREGADO: mt-4 para separar del párrafo */}
      <slot name="link"></slot>
      <svg class="ml-1 h-4 w-4 " fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
      </svg>
    </div>
  </div>
</div>