---
import CardImage from "./CardImage.astro";
---

<div id="galeria" class="overflow-hidden bg-gray-200 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-base font-semibold text-indigo-600">Despega Rapido</h2>
      <p class="mt-2 text-4xl font-extrabold tracking-tight text-gray-800 sm:text-5xl">Proyectos desarrollados</p>
      <p class="mt-6 text-lg text-gray-600">
        El despliegue de tus proyectos se veran pronto en la web. Para que empieces a conocer los resultados de tu futura pagina.
      </p>
    </div>

    <div class="mt-16 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <CardImage
        title="Restaurant Safita"
        subtitle="Desarrollo de plataforma de comercio electrónico"
        description="Plataforma robusta para gestionar ventas online y dar a conocer tus productos y servicios."
      >
        <img slot="Imagen" src="/SafitaWeb.webp" alt="E-Commerce Platform" class="w-full h-auto object-cover" />
        <a class="text-blue-800 font-semibold" slot="link" href="https://safita-demo.netlify.app/" target="_blank">Visita</a>
      </CardImage>

      <CardImage
        title="Portfolio"
        subtitle="Diseño de sitio web personal"
        description="Sitio web atractivo para mostrar proyectos personales y habilidades."
      >
        <img slot="Imagen" src="/PortadaWebPersonal.webp" alt="E-Commerce Platform" class="w-full h-auto object-cover" />
        <a class="text-blue-800 font-semibold" slot="link" href="https://dreez-web.github.io/Personal-Web/" target="_blank">Visita</a>
      </CardImage>

      <CardImage
        title="Landing Page"
        subtitle="Desarrollo de plataforma para potenciales clientes"
        description="Contenido claro y centrado en obtener visitas."
      >
        <img slot="Imagen" src="/WebPortada.webp" alt="E-Commerce Platform" class="w-full h-auto object-cover" />
        <a class="text-blue-800 font-semibold" slot="link" href="https://astro-dreez-portfolio.vercel.app/" target="_blank">Visita</a>
      </CardImage>
      
    </div>
    <h2 class="text-center text-blue-800 font-medium py-3">Proximamente muchos más ----></h2>
  </div>
  
</div>