---
import CardImage from "./CardImage.astro";
---

<div id="galeria" class="overflow-hidden bg-gray-200 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-base font-semibold text-indigo-600">Deploy faster</h2>
      <p class="mt-2 text-4xl font-extrabold tracking-tight text-gray-800 sm:text-5xl">Proyectos desarrollados</p>
      <p class="mt-6 text-lg text-gray-600">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis
        razione.
      </p>
    </div>

    <div class="mt-16 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <CardImage
        title="E-Commerce Platform"
        subtitle="Desarrollo de plataforma de comercio electrónico"
        description="Plataforma robusta para gestionar ventas online."
      >
        <img slot="Imagen" src="/ideas.webp" alt="E-Commerce Platform" class="w-full h-auto object-cover" />
        <a class="text-blue-800 font-semibold" slot="link" href="https://safita-demo.netlify.app/" target="_blank">Link</a>
      </CardImage>

      <CardImage
        title="Restaurant Safita"
        subtitle="Diseño de sitio web personal"
        description="Sitio web atractivo para mostrar proyectos personales y habilidades."
      >
        <img slot="Imagen" src="/camino.webp" alt="E-Commerce Platform" class="w-full h-auto object-cover" />
        <a class="text-blue-800 font-semibold" slot="link" href="https://safita-demo.netlify.app/" target="_blank">Link</a>
      </CardImage>

      <CardImage
        title="Landing Page"
        subtitle="Desarrollo de plataforma de blogs"
        description="Sistema de gestión de contenido para blogs y publicaciones en línea."
      >
        <img slot="Imagen" src="/ideas.webp" alt="E-Commerce Platform" class="w-full h-auto object-cover" />
        <a class="text-blue-800 font-semibold" slot="link" href="https://astro-dreez-portfolio.vercel.app/" target="_blank">Link</a>
      </CardImage>
    </div>
  </div>
</div>