---
import CardNumber from "./CardNumber.astro";
---

<div id="proceso" class="relative bg-gray-50 py-24 sm:py-32 overflow-hidden">
  <div
    class="absolute inset-0 bg-center bg-no-repeat lg:bg-repeat-x lg:bg-center pointer-events-none opacity-30"
    style="background-image: url('/camino.webp'); background-size: contain;"
  >
  </div>

  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8 relative z-10">
    <h2 class="text-center text-base/7 font-semibold text-indigo-600">Metodología de desarrollo</h2>
    <p class="mx-auto mt-2 max-w-lg text-center text-4xl font-extrabold tracking-tight text-balance text-gray-800 sm:text-5xl">
      Nuestro proceso paso a paso
    </p>
    <div class="mt-16 grid max-w-lg grid-cols-1 gap-x-8 gap-y-10 sm:gap-y-16 lg:max-w-none lg:grid-cols-3 relative z-10">
      <CardNumber number="01" title="Creamos juntos" subtitle="Con tu idea y nuestra experiecia comenzamos a constuir tu futuro sitio en internet." />
      <CardNumber number="02" title="Diseño Web" subtitle="Diseñamos webs personalizadas, cada una con su sello personal para distinguirte del resto." />
      <CardNumber number="03" title="Desarrollo" subtitle="Desarrollamos en tecnologias web actuales. Html, Css, Javascript, Astro, Typescript, React y librerias modernas" />
      <CardNumber number="04" title="SEO" subtitle="Optimizamos tu sitio para mejorar su visibilidad en buscadores. Estrategias efectivas para aumentar tu presencia online." />
      <CardNumber number="05" title="Hosting" subtitle="Soluciones completas para que tu sitio este en un lugar seguro, con cargas rapidas y en todos los dispositivos." />
      <CardNumber number="06" title="Mantenimiento Web" subtitle="Soporte continuo para asegurar el rendimiento de tu sitio. Contratanos para que tu sitio este siempre actualizado" />
    </div>
  </div>
</div>
